<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <form #passForm="ngForm" (ngSubmit)="onPassSubmit(passForm)" class="box">
                    <h3>Change Password</h3>
                    <input type="text" (keyup)="checkLength($event)" [(ngModel)]="passwordModel.newPassword" name="newPassword" placeholder="Enter New Password" required> 
                    <input type="text" (keyup)="checkPass($event)"  [(ngModel)]="passwordModel.confirmPassword" name="confirmPassword" placeholder="Confirm New Password" [disabled]='!isLengthCorrect' required>
                    <p style="color: {{ error_color }} ;">{{ error_text }}</p> 
                    <input type="submit" [value]="submit" [disabled]='(!isSubmitDisable&&passForm.form.valid)? false : true'>
                    <div class="col-md-12">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
