{% extends 'base.html' %}
{% block content %}
{% load static %}
<link href='{% static "/css/forget_password.css" %}' rel="stylesheet">
 <div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <form action="forget_password" method="post" class="box">
                    {% csrf_token %}
                    <h3>Change Password</h3>
                    <input type="text"  name="new_password" placeholder="Enter New Password" required>
                    <p style="color:green;">{{ success }}</p>
                    <input type="submit" value="Change">
                    <div class="col-md-12">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
