red{
    color:red;
}
.mainContainer{
    margin-top:5%;
    margin-bottom: 5%;
    background-color:grey;
    height: fit-content;
    width: 400px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
}

.header1{
    text-align: center;
     padding: 10px;
}
.loginButton{
    align-items: center;
    width: fit-content;
    color: #000;
    background-color: rgb(6, 174, 252);
    outline-style: none;
}
.loginButton:hover{
    align-items: center;
    width: fit-content;
    color: #000;
    background-color: rgb(6, 252, 47);
    outline-style: none;
}
.footerContainer
{
    text-align: center;
}